body{
  background-color: rgb(245, 245, 245);
  
}

.dashboard{
  color: whitesmoke;
  background-color: rgb(161, 48, 86);
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  padding: 7px;
  padding-left: 15px;
  
}

.grid{
  height: 200px;
  padding: 10px;
  color: whitesmoke;
  font-weight: 700;
  text-align: center;

  .box1{
    background-color: green;
    border-radius: 15px;
  }

  .box2{
    background-color: rgb(23, 189, 189);
    border-radius: 15px;
  }

  .box3{
    background-color: rgb(230, 189, 10);
    border-radius: 15px;
  }

  .box4{
    background-color: rgb(168, 13, 13);
    border-radius: 15px;
  }

}

header{
  background-color: rgb(23, 36, 71);
  height: 30px;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  height: 35px;
  padding: 2px;
  padding-left: 6px;
  color: whitesmoke;
  border-top-left-radius:10px;
  border-top-right-radius: 10px;
}

.camada2{
  
  .status{
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    
  }

  .mes{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }

}

.camada3{
  margin-top: 170px;
  .resp{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }
}
